/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
  font-size: 16px;
}
body {
  font-size: 1em;
	font-family: 'Chau Philomene One', sans-serif;
}


h1 {
  font-size: 3em;
	color: #00A388;

	color: #149689;
}

h1:first-child,
h1:nth-child(2) {
	font-size: 2.5em;
}

h2 {
	font-size: 2.2em;
	color: #FF6138;

	color: #F7773C;
}

h3 {
	font-size: 2em;
}

p {
  font-size: 1.5em;
}

.container {
  display: flex;

	background: url('mountains.png') no-repeat bottom 128px left 410px;
	background-size: 490px;
	text-align: center;
}

.text {
  padding-top: 70px;
	margin-left: -120px;
	margin-bottom: 128px;

	/*background-color: hsla(0, 0%, 0%, 0.7);*/
	/*color: #fff;*/
	padding-left: 20px;
	padding-right: 20px;
}

.row-2 {
	display: flex;
	margin-top: 45px;
}
